<!-- Precarga de fuentes -->
<link rel="preload" 
  href='{{ "fonts/space-mono-v17-latin-700.woff2" | absLangURL }}' 
  as="font" 
  type="font/woff2" 
  crossorigin>
<link rel="preload" 
  href='{{ "fonts/space-mono-v17-latin-regular.woff2" | absLangURL }}' 
  as="font" 
  type="font/woff2" 
  crossorigin>
<link rel="preload" 
  href='{{ "fonts/geist-mono-v4-latin-600.woff2" | absLangURL }}' 
  as="font" 
  type="font/woff2" 
  crossorigin>
<link rel="preload" 
  href='{{ "fonts/geist-mono-v4-latin-regular.woff2" | absLangURL }}' 
  as="font" 
  type="font/woff2" 
  crossorigin>

<!-- Precarga fuentes para íconos -->
<link rel="preload" 
  href='{{ "fonts/icons.woff2" | absLangURL }}' 
  as="font" 
  type="font/woff2" 
  crossorigin>
