<nav class="offcanvas-md offcanvas-start col-5 col-lg-3 m-0" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1" id="sideMenu" aria-label="Side Menu">
  <div class="app-sidebar app-scroll-enable app-card m-3">
    <div class="offcanvas-header p-1">
      <a class="btn d-block ms-auto px-0" role="button" data-bs-dismiss="offcanvas" data-bs-target="#sideMenu" aria-label="Close">
        <i class="bi bi-arrow-bar-left fs-1 me-2"></i>
      </a>
    </div>
    <div class="offcanvas-body p-1">
      <menu class="list-group list-group-flush fw-bold col-12 mt-0">
        <li class="list-group-item list-group-item-action border border-0">
          <a href="/#lista-1" class="text-decoration-none text-body">
            <i class="bi bi-check-circle fs-4"></i>
            <span class="ms-2 stretched-link">Lista 1</span>
          </a>
        </li>
        <li class="list-group-item list-group-item-action border border-0">
          <a href="/#lista-2" class="text-decoration-none text-body">
            <i class="bi bi-check-circle fs-4"></i>
            <span class="ms-2 stretched-link">Lista 2</span>
          </a>
        </li>
        <li class="list-group-item list-group-item-action border border-0">
          <a href="/#lista-3" class="text-decoration-none text-body">
            <i class="bi bi-check-circle fs-4"></i>
            <span class="ms-2 stretched-link">Lista 3</span>
          </a>
        </li>
        <li class="list-group-item list-group-item-action border border-0">
          <a href="/#lista-4" class="text-decoration-none text-body">
            <i class="bi bi-check-circle fs-4"></i>
            <span class="ms-2 stretched-link">Lista 4</span>
          </a>
        </li>
      </menu>
    </div>
  </div>
</nav>
