<div class="col-12">
  <div id="app-ai-generator" class="app-card col app-scroll-enable overflow-y-auto app-vh-75 d-none">
    <div class="app-ai-generator">
      <h2 class="icon-none accordion-header d-none" type="button" data-bs-toggle="collapse" data-bs-target="#ai-generator-container" aria-expanded="true" aria-controls="ai-generator-container">
        <span>ai-generator</span>
        <span class="icon-collapsed float-end" aria-expanded="true"><i class="bi bi-chevron-down"></i></span>
        <span class="icon-not-collapsed float-end" aria-expanded="false"><i class="bi bi-chevron-up"></i></span>
      </h2>
      <div id="ai-generator-screen-1">
        <header class="fw-semibold ocultar">
          <div class="linea-caracter"></div>
          <h3 class="fs-1 fw-semibold text-center">What do you want to plan today?</h3>
          <div class="linea-caracter"></div>
        </header>
        <ol class="fw-normal my-4">
          <li class="fs-4 m-3"><button class="fw-normal fs-4 btn border border-0" role="button" data-option="1" data-event-type="event">An event</button></li>
          <li class="fs-4 m-3"><button class="fw-normal fs-4 btn border border-0" role="button" data-option="2" data-event-type="project">A project </button></li>
          <li class="fs-4 m-3"><button class="fw-normal fs-4 btn border border-0" role="button" data-option="3" data-event-type="trip">A trip</button></li>
          <li class="fs-4 m-3"><button class="fw-normal fs-4 btn border border-0" role="button" data-option="4" data-event-type="class">A class or lecture</button></li>
          <li class="fs-4 m-3"><button class="fw-normal fs-4 btn border border-0" role="button" data-option="5" data-event-type="else">Something else</button></li>
        </ol>
        <template id="ai-generator-input-template">
          <div class="my-4">
            <p class="fs-4">Select an option.</p>
            <div class="input-group fs-4">
              <span class="input-group-text app-icono-static border-0 fs-4 fw-semibold">qsp</span>
              <input class="animated form-control fs-4 border-0" type="text" name="ai-generator-input" placeholder="▮">
            </div>
          </div>
        </template>
        <template id="ai-generator-suggestions-template">
          <div class="my-4">
            <p class="fs-4" data-role="question">
              <span class="fw-semibold">
                Could you tell me more about the event you're planning?
              </span>
            </p>
            <p class="fs-4" >
              <span class="fw-normal">Some ideas:</span>
            </p>
            <p class="fw-normal fs-4" data-role="suggestions">
              <ul class="lh-base my-3">
                <li class="fs-4 mx-4">Type of event (e.g., conference, party, meeting, wedding)</li>
                <li class="fs-4 mx-4">Date and location</li>
                <li class="fs-4 mx-4">Main purpose or goal</li>
                <li class="fs-4 mx-4">Planned activities</li>
                <li class="fs-4 mx-4">Theme or style</li>
              </ul>
            </p>
            <div class="input-group fs-4">
              <span class="input-group-text app-icono-static border-0 fs-4 fw-semibold">qsp</span>
              <textarea class="animated form-control fs-4 border-0" data-role="inline-editor" aria-label="Suggestions text" name="inline-editor" rows="1" placeholder="▮"></textarea>
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
  <div id="streaming-screen" class="app-card col app-scroll-enable overflow-y-auto app-vh-75 d-none">
  </div>
</div>
