<div class="app-card col">
  <div class="app-log">
    <h2 class="icon-none accordion-header" type="button" data-bs-toggle="collapse" data-bs-target="#app-log-panel" aria-expanded="true" aria-controls="app-log-panel">
      <span>log</span>
      <span class="icon-collapsed float-end" aria-expanded="true"><i class="bi bi-chevron-down"></i></span>
      <span class="icon-not-collapsed float-end" aria-expanded="false"><i class="bi bi-chevron-up"></i></span>
    </h2>
    <div id="app-log-panel" class="collapse show">
      <div class="py-3">
        Content
      </div>
    </div>
  </div>
</div>
