<div class="col-12">
  <div class="app-card col d-none">
    <div class="app-terminal">
      <h2 class="icon-none accordion-header d-none" type="button" data-bs-toggle="collapse" data-bs-target="#terminal-container" aria-expanded="true" aria-controls="terminal-container">
        <span>log</span>
        <span class="icon-collapsed float-end" aria-expanded="true"><i class="bi bi-chevron-down"></i></span>
        <span class="icon-not-collapsed float-end" aria-expanded="false"><i class="bi bi-chevron-up"></i></span>
      </h2>
      <div id="terminal-screen-1" class="fw-semibold">
        <h3 class="fs-1 fw-semibold text-center d-none">What do you want to plan today?</h3>
        <div class="linea-caracter"></div>
        <h3 class="fs-6 text-center subtitle-equal">What do you want to plan today?</h3>
        <div class="linea-caracter"></div>
        <ol class="my-4">
          <li class="m-3"><a class="" role="button">An event</a></li>
          <li class="m-3"><a class="" role="button">A project </a></li>
          <li class="m-3"><a class="" role="button">A trip</a></li>
          <li class="m-3"><a class="" role="button">A class or lecture</a></li>
          <li class="m-3"><a class="" role="button">Something else</a></li>
        </ol>
        <template id="terminal-input-template">
          <p>Please, select an option (1 to 5): </p>
          <p>
            <span class="app-icono fw-semibold">qsp</span>
            <input type="text" name="terminal container" placeholder="▮">
          </p>
        </template>
      </div>
    </div>
  </div>
</div>
